<?xml version="1.0" encoding="utf-8"?>
<DataLoggerConfigDocument
  xmlns="http://www.phoenixcontact.com/schema/dataloggerconfig"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.phoenixcontact.com/schema/dataloggerconfig.xsd">

  <General name="datalogger-web-app" samplingInterval ="250ms" publishInterval="1s" bufferCapacity="100"/>
  
  <Datasink type="db" dst="/opt/plcnext/database-web-app.db" rollover="true" tsfmt="Iso8601" maxFiles="30" maxFileSize="5000000" storeChangesOnly="true"/> 

  <Variables>
    <Variable name = "Arp.Plc.Eclr/I_1_IN00"/>
    <Variable name = "Arp.Plc.Eclr/I_1_IN01"/>
    <Variable name = "Arp.Plc.Eclr/I_1_IN02"/>
    <Variable name = "Arp.Plc.Eclr/I_1_IN03"/>
    <Variable name = "Arp.Plc.Eclr/I_1_IN04"/>
    <Variable name = "Arp.Plc.Eclr/I_1_IN05"/>
    <Variable name = "Arp.Plc.Eclr/I_1_IN06"/>
    <Variable name = "Arp.Plc.Eclr/I_1_IN07"/>
    <Variable name = "Arp.Plc.Eclr/Q_1_OUT00"/>
    <Variable name = "Arp.Plc.Eclr/Q_1_OUT01"/>
    <Variable name = "Arp.Plc.Eclr/Q_1_OUT02"/>
    <Variable name = "Arp.Plc.Eclr/Q_1_OUT03"/>
    <Variable name = "Arp.Plc.Eclr/Q_1_OUT04"/>
    <Variable name = "Arp.Plc.Eclr/Q_1_OUT05"/>
    <Variable name = "Arp.Plc.Eclr/Q_1_OUT06"/>
    <Variable name = "Arp.Plc.Eclr/Q_1_OUT07"/>
    <Variable name = "Arp.Plc.Eclr/I_2_IN01"/>
    <Variable name = "Arp.Plc.Eclr/I_2_IN02"/>
    <Variable name = "Arp.Plc.Eclr/Q_2_OUT01"/>
    <Variable name = "Arp.Plc.Eclr/Q_2_OUT02"/>
  </Variables>
</DataLoggerConfigDocument>
